@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* body {
  background-color: rgb(244, 245, 246);
} */

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}